<!DOCTYPE html>
<html>
	
	<head>
		<title>ResForm</title>

		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="vendor/goldenForms/css/goldenforms-pro.css">
		<link rel="stylesheet" type="text/css" href="vendor/goldenForms/css/goldenforms-pro-addons.css">

		<link rel="stylesheet" type="text/css" href="vendor/goldenForms/css/font-awesome.min.css">


		<!--[if IE 9]>
        	<link rel="stylesheet" href="vendor/goldenForms/css/goldenforms-pro-ie9.css">
        <![endif]-->
        
        <!--[if lte IE 8]>
        	<link rel="stylesheet" href="vendor/goldenForms/css/goldenforms-pro-ie8.css">
        <![endif]-->
        
        <link rel="stylesheet" type="text/css" href="styles/base.css">
	</head>

		<body>


		<!--header start-->
		    <header class="head-section">
		      <div class="navbar navbar-default navbar-static-top container">
		          <div class="navbar-header">
		              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button>
		              <a class="navbar-brand" href="index.html">Resume<span>Builder</span></a>
		          </div>
		          <div class="navbar-collapse collapse">
		              <ul class="nav navbar-nav">
		                  <li class="dropdown">
		                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
		                      "dropdown" data-toggle="dropdown" href="index.html">Home <i class="fa fa-angle-down"></i>
		                      </a>
		                      <ul class="dropdown-menu">
		                          <li>
		                              <a href="product.html">Product</a>
		                          </li>
		                          <li>
		                              <a href="product.html">Product Seq-slider1</a>
		                          </li>
		                          <li>
		                              <a href="product.html">Product</a>
		                          </li>
		                      </ul>
		                  </li>
		                  <li class="dropdown">
		                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
		                      "dropdown" data-toggle="dropdown" href="#">Product <i class="fa fa-angle-down"></i>
		                      </a>
		                      <ul class="dropdown-menu">
		                          <li>
		                              <a href="product.html">Product</a>
		                          </li>
		                          <li>
		                              <a href="product.html">Product</a>
		                          </li>
		                          <li>
		                              <a href="form.html">Form</a>
		                          </li>
		                          <li>
		                              <a href="table.html">Table</a>
		                          </li>
		                          <li class="dropdown-submenu">
		                              <a href="#" tabindex="-1">More options</a>
		                              <ul class="dropdown-menu">
		                                  <li>
		                                      <a href="#" tabindex="-1">Second level</a>
		                                  </li>
		                                  <li class="dropdown-submenu">
		                                      <a href="#">Even More..</a>
		                                      <ul class="dropdown-menu">
		                                          <li>
		                                              <a href="#">3rd level</a>
		                                          </li>
		                                          <li>
		                                              <a href="#">3rd level</a>
		                                          </li>
		                                      </ul>
		                                  </li>
		                                  <li>
		                                      <a href="#">Second level</a>
		                                  </li>
		                                  <li>
		                                      <a href="#">Second level</a>
		                                  </li>
		                              </ul>
		                          </li>
		                      </ul>
		                  </li>
		                  

		                  <li>
		                      <a href="contact.html">Contact</a>
		                  </li>
		                  <li>
		                    <a href="admin.html">ADMIN</a>
		                  </li>
		              </ul>
		          </div>
		      </div>
		    </header>
		    <!--header end-->



			{{!--MAIN CONTAINTER SECTION START --}}
			<div id="mainContent" class="container">

				{{{body}}}



			</div>
			{{!--MAIN CONTAINTER SECTION END --}}


			






		<script type="text/javascript" src="scripts/jquery.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.js"></script>
        <script src="vendor/goldenForms/js/jquery-ui-touch-punch.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.steps.js"></script>
		<script type="text/javascript" src="scripts/jquery.fileupload.js"></script>


		<script src="vendor/goldenForms/js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="vendor/goldenForms/js/jquery-ui-slider-pips.min.js"></script>
		<script type="text/javascript" src="scripts/resumeBuilder.js"></script>

		<script type="text/javascript">

		$(document).ready(function() {

			$("div.resForm-tab-menu>div.list-group>a").click(function(e) {
		        e.preventDefault();
		        $(this).siblings('a.active').removeClass("active");
		        $(this).addClass("active");
		        var index = $(this).index();
		        $("div.resForm-tab>div.resForm-tab-content").removeClass("active");
		        $("div.resForm-tab>div.resForm-tab-content").eq(index).addClass("active");
		    });


		});

		</script>

	

	</body>

</html>