<!DOCTYPE html>
<html>
	
	<head>
		<title>Resume Builder</title>

		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="font/font-awesome.min.css">


		<!--[if IE 9]>
        	<link rel="stylesheet" href="vendor/goldenForms/css/goldenforms-pro-ie9.css">
        <![endif]-->
        
        <!--[if lte IE 8]>
        	<link rel="stylesheet" href="vendor/goldenForms/css/goldenforms-pro-ie8.css">
        <![endif]-->
        
        
        <link rel="stylesheet" type="text/css" href="/styles/base.css">

        <link rel="stylesheet" type="text/css" href="/styles/dataTables.css">
        <link rel="stylesheet" type="text/css" href="/styles/dataTables.responsive.css">
 
	</head>

		<body>


		<!--header start-->
		    <header class="head-section">
		      <div class="navbar navbar-default navbar-static-top container">
		          <div class="navbar-header">
		              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button>
		              <a class="navbar-brand" href="/"><img class="img-responsive" src="images/resumeBuilderLogo.svg"></a>
		          </div>
		          <div class="navbar-collapse collapse">
		              <ul class="nav navbar-nav">


		                  <li>
		                    <a id="adminBut" href="/admin">BUILDER</a>
		                  </li>
		              </ul>
		          </div>
		      </div>
		    </header>
		    <!--header end-->



			{{!--MAIN CONTAINTER SECTION START --}}
			<div id="mainContent" class="container">

				{{{body}}}



			</div>
			{{!--MAIN CONTAINTER SECTION END --}}


			






		<script type="text/javascript" src="scripts/jquery.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="scripts/dataTables.js"></script>
		<script type="text/javascript" src="scripts/dataTables.responsive.js"></script>
		<script type="text/javascript" src="scripts/jquery.fileupload.js"></script>
		<script type="text/javascript" src="scripts/genInfo.js"></script>
		<script type="text/javascript" src="scripts/resumeBuilder.js"></script>

		<script type="text/javascript">
		$(document).ready(function() {
		

			    $('#adminTable').DataTable({
			    	responsive: true
			    });
		


		});

		</script>


	</body>

</html>