<div class="container">



          <!-- Begin: life time stats -->
            <div id="admin">
              <div class="admin-title">
                <div class="caption">
                  ADMIN
                </div>
                
              </div>
              <div class="admin-body">
                <div class="table-container">
                  <div class="table-actions-wrapper">

                    <span class="selection">
                      <select class=" selection table-group-action-input form-control input-inline input-small input-sm">
                        <option value="">Select...</option>
                        <option value="publish">Publish</option>
                        <option value="unpublished">Un-publish</option>
                        <option value="delete">Delete</option>
                      </select>
                    </span>

                    <button data-toggle="modal" data-target="#myModal" class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i>ADD RESUME</button>
                    
                  </div>
                  <table class="table table-striped table-bordered table-hover" id="adminTable">
                  <thead>
                  <tr role="row" class="heading">
                    <th width="1%">
                      <input type="checkbox" class="group-checkable">
                    </th>
                    <th width="10%">
                       ID
                    </th>
                    <th width="15%">
                       Product&nbsp;Name
                    </th>
                    <th width="15%">
                       Category
                    </th>
                    <th width="10%">
                       Price
                    </th>
                    <th width="10%">
                       Quantity
                    </th>
                    <th width="15%">
                       Date&nbsp;Created
                    </th>
                    <th width="10%">
                       Status
                    </th>
                    <th width="10%">
                       Actions
                    </th>
                  </tr>
                  <tr role="row" class="filter">
                    <td>
                    </td>
                    <td>
                      <input type="text" class="form-control form-filter input-sm" name="product_id">
                    </td>
                    <td>
                      <input type="text" class="form-control form-filter input-sm" name="product_name">
                    </td>
                    <td>
                      <select name="product_category" class="form-control form-filter input-sm">
                        <option value="">Select...</option>
                        <option value="1">Mens</option>
                        <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footwear</option>
                        <option value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clothing</option>
                        <option value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
                        <option value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fashion Outlet</option>
                        <option value="6">Football Shirts</option>
                        <option value="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier League</option>
                        <option value="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Football League</option>
                        <option value="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serie A</option>
                        <option value="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bundesliga</option>
                        <option value="11">Brands</option>
                        <option value="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adidas</option>
                        <option value="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nike</option>
                        <option value="14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airwalk</option>
                        <option value="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA Pro</option>
                        <option value="16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kangol</option>
                      </select>
                    </td>
                    <td>
                      <div class="margin-bottom-5">
                        <input type="text" class="form-control form-filter input-sm" name="product_price_from" placeholder="From"/>
                      </div>
                      <input type="text" class="form-control form-filter input-sm" name="product_price_to" placeholder="To"/>
                    </td>
                    <td>
                      <div class="margin-bottom-5">
                        <input type="text" class="form-control form-filter input-sm" name="product_quantity_from" placeholder="From"/>
                      </div>
                      <input type="text" class="form-control form-filter input-sm" name="product_quantity_to" placeholder="To"/>
                    </td>
                    <td>
                      <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                        <input type="text" class="form-control form-filter input-sm" readonly name="product_created_from" placeholder="From">
                        <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                      </div>
                      <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                        <input type="text" class="form-control form-filter input-sm" readonly name="product_created_to " placeholder="To">
                        <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                    <td>
                      <select name="product_status" class="form-control form-filter input-sm">
                        <option value="">Select...</option>
                        <option value="published">Published</option>
                        <option value="notpublished">Not Published</option>
                        <option value="deleted">Deleted</option>
                      </select>
                    </td>
                    <td>

                        <button class="btn btn-sm searchBtn"><i class="fa fa-search"></i> Search</button>

                      <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End: life time stats -->




            <!-- RESUME FORM START -->

            <div class="row">
                         <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                              <h4 class="modal-title" id="myModalLabel">Resume Form</h4>
                              </div>
                          <div class="modal-body">
                              <div class="row">
                                <div class="col-md-11">
                                      <div class="panel with-nav-tabs panel-default">
                                          <div class="panel-heading">
                                                  <ul class="nav nav-tabs">
                                                      <li class="active"><a href="#genInfo" data-toggle="tab">General Info</a></li>
                                                      <li><a href="#socialContact" data-toggle="tab">Social Contact</a></li>
                                                      <li><a href="#educationInfo" data-toggle="tab">Education</a></li>
                                                      <li><a href="#workInfo" data-toggle="tab">Work</a></li>
                                                      
                                                  </ul>
                                          </div>
                                          <div class="panel-body">
                                              <div class="tab-content">
                                                  <div class="tab-pane fade in active" id="genInfo">

                                                  <div class="row-fluid">
                                                    <div class="col-sm-4" >
                                                    <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
                                                    </div>
                                                    
                                                    <div class="col-sm-5">
                                                        <h3>User Name</h3>
                                                        <h6>Email: MyEmail@servidor.com</h6>
                                                        <h6>Ubication: Colombia</h6>
                                                        <h6>Old: 1 Year</h6>
                                                        <h6><a href="#">More... </a></h6>
                                                    </div>
                                                    
                                                    <div class="col-sm-2">
                                                        <div class="btn-group">
                                                            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                                                Action 
                                                                <span class="icon-cog icon-white"></span><span class="caret"></span>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                                                                <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                                                            </ul>
                                                        </div>
                                                      </div>

                                                    </div>
                                                  

                                                  </div>
                                                  <div class="tab-pane fade" id="socialContact">Social Contact</div>
                                                  <div class="tab-pane fade" id="educationInfo">Education Info</div>
                                                  <div class="tab-pane fade" id="workInfo">Work Info</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                          </div>
                          <div class="modal-footer">
                              <center>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-success">Render</button>
                              </center>
                          </div>
                      </div>
                  </div>
       
            </div>





</div>