#admin select.selection{
  width: 25%;
  display: inline-block;
}

#admin table td{
  vertical-align: middle;
  text-align: center;
}

button.searchBtn{
  background-color: #7FB2F0;

}

.actions {
    margin-bottom: 10px;
}

.admin-body {
    margin-top: 25px;
}

#adminTable {
    margin-top: 25px;
}


th{
  text-align: center;
}





