/*******Profile picture SECTION*********/

.profile-avatar {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    float: left;
    width: 80%
}

.profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
}


/*******General Info Text Label*********/

.general-info label{
    width: 100%;
}



/*******PERSONAL STATEMENT*********/

label.personal-statement {
    width: 100%;
}