/* line 1, sass/_layout.scss */
body {
  height: 100%;
}

/*HEADER SECTION*/
/* line 3, sass/sections/_header.scss */
.head-section {
  border-bottom: 1px solid #eee;
}

/* line 4, sass/sections/_header.scss */
.head-section .navbar {
  margin-bottom: 0;
}

/* line 7, sass/sections/_header.scss */
.navbar-default {
  border: none;
}

/* line 8, sass/sections/_header.scss */
.navbar-brand {
  color: #bcc0cd;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  margin-top: 30px;
  padding: 0;
}

/* line 16, sass/sections/_header.scss */
.navbar-brand span {
  color: #7FB2F0;
}

/* line 17, sass/sections/_header.scss */
.head-section .navbar-collapse ul.navbar-nav {
  float: right;
  margin-right: 0;
  z-index: 199;
}

/* line 22, sass/sections/_header.scss */
.head-section .navbar-default {
  background-color: #fff;
}

/* line 23, sass/sections/_header.scss */
.head-section .nav li a,
.head-section .nav li.active ul.dropdown-menu li a {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

/* line 30, sass/sections/_header.scss */
ul.dropdown-menu {
  border: none;
}

/* line 31, sass/sections/_header.scss */
.head-section .nav li a:hover,
.head-section .nav li a:focus,
.head-section .nav li.active a,
.head-section .nav li.active a:hover,
.head-section .nav li a.dropdown-toggle:hover,
.head-section .nav li a.dropdown-toggle:focus,
.head-section .nav li.active ul.dropdown-menu li a:hover,
.head-section .nav li.active ul.dropdown-menu li.active a {
  color: #fff;
  background-color: #4E7AC7;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 47, sass/sections/_header.scss */
.head-section .navbar-default .navbar-nav > .open > a,
.head-section .navbar-default .navbar-nav > .open > a:hover,
.head-section .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #48cfad;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 58, sass/sections/_header.scss */
.head-section .navbar {
  min-height: 85px;
}

/* line 59, sass/sections/_header.scss */
.head-section .navbar-nav > li {
  padding-bottom: 25px;
  padding-top: 30px;
}

/* line 63, sass/sections/_header.scss */
.head-section ul.navbar-nav li:last-child {
  margin-left: 10px !important;
}

/* line 64, sass/sections/_header.scss */
.head-section .navbar-nav > li > a {
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: 2px;
  line-height: 30px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 78, sass/sections/_header.scss */
.dropdown-menu li a:hover {
  color: #fff !important;
}

/* line 79, sass/sections/_header.scss */
.head-section .navbar-default .navbar-nav > .open > a .caret,
.navbar-default .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #fff;
}

/* line 93, sass/sections/_header.scss */
.head-section .nav li a#adminBut {
  color: white;
  background-color: #7FB2F0;
}

/* line 1, sass/sections/_admin.scss */
#admin select.selection {
  width: 25%;
  display: inline-block;
}

/* line 6, sass/sections/_admin.scss */
#admin table td {
  vertical-align: middle;
  text-align: center;
}

/* line 11, sass/sections/_admin.scss */
button.searchBtn {
  background-color: #7FB2F0;
}

/* line 16, sass/sections/_admin.scss */
.actions {
  margin-bottom: 10px;
}

/* line 20, sass/sections/_admin.scss */
.admin-body {
  margin-top: 25px;
}

/* line 24, sass/sections/_admin.scss */
#adminTable {
  margin-top: 25px;
}

/* line 29, sass/sections/_admin.scss */
th {
  text-align: center;
}

/* line 1, sass/sections/_forms.scss */
.resName input {
  margin-top: 5px;
  width: 20%;
}

/* line 7, sass/sections/_forms.scss */
h4.modal-title {
  color: #337ab7;
}

/* line 18, sass/sections/_forms.scss */
#genInfo h3 {
  text-align: center;
}
/* line 23, sass/sections/_forms.scss */
#genInfo .input-group {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 31, sass/sections/_forms.scss */
#genInfo label {
  margin-top: 10px;
}
/* line 35, sass/sections/_forms.scss */
#genInfo textarea.personalStatement {
  width: 100%;
  margin: 0;
  display: block;
}

/* line 52, sass/sections/_forms.scss */
#contactInfo h3 {
  text-align: center;
}
/* line 57, sass/sections/_forms.scss */
#contactInfo .input-group {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 74, sass/sections/_forms.scss */
#educationInfo h3 {
  text-align: center;
}
/* line 79, sass/sections/_forms.scss */
#educationInfo .input-group {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 86, sass/sections/_forms.scss */
#educationInfo .btn-group {
  margin-top: 15px;
  float: right;
}
/* line 91, sass/sections/_forms.scss */
#educationInfo label {
  margin-top: 10px;
}
/* line 95, sass/sections/_forms.scss */
#educationInfo textarea#courseDescription {
  width: 100%;
  margin: 0;
  display: block;
}

/* line 109, sass/sections/_forms.scss */
#workInfo h3 {
  text-align: center;
}
/* line 114, sass/sections/_forms.scss */
#workInfo .input-group {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 121, sass/sections/_forms.scss */
#workInfo .btn-group {
  float: right;
  margin-top: 15px;
}
/* line 126, sass/sections/_forms.scss */
#workInfo label {
  margin-top: 10px;
}
/* line 130, sass/sections/_forms.scss */
#workInfo textarea#workDescription {
  width: 100%;
  margin: 0;
  display: block;
}

/*# sourceMappingURL=base.css.map */
